@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

  *, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     font-family: 'Inter', sans-serif;
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: #0f172A;

  }

  main{
     padding: 20;
     max-width: 640;
     margin: 0 auto 64px;

  }

  header{
   margin-top: 64px;
   padding-bottom: 24px;
   border-bottom: 1px solid #e2e8f0;
  }

  header h1{
   font-size: 30px;
     color: white;
  }

 #quiz {
   counter-reset: quiz-item;
 }

  .quiz-item {
    margin-top: 24px;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #e2e8f0;

    overflow: hidden;
  }

 .quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: coral;
  

 }

 .quiz-item h3:before {
   counter-increment: quiz-item;
  content: counter(quiz-item);

   background-color: #475569;
   width: 28px;
   height: 28px;
   font-weight: 700;
   border-radius: 50%;

   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: center;
   flex-shrink: 0;

 }

 .quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;
 }

.quiz-item dl dt {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1;

  color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  gap: 8px;
}

input {
 all: unset;
 border: 1px solid rgb(0, 0, 0);
 width: 16px;
 height: 16px;

 flex-shrink: 0;

 border-radius: 50%;

 display: flex;
 align-items: center;
 justify-content: center;
}

input:checked {
  border: 1px rgb(0, 0, 0);
}

input:checked:before {
  content: "";
  width: 10px;
  height: 10px;

  background-color: aqua;
  border-radius: 50px;
}

  /*declaração*/
  #acertos {
    text-align: center;
    background-color: rgb(212, 83, 8);

    position: fixed;
    bottom:0;
    left:0;

    width: 100%;
    padding: 12px;
  }

  * {
    //border: 1px solid black
  }